body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #2f3542;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  background-attachment: fixed;
}
