body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f9fbfc;
  /* background-image: url("https://www.transparenttextures.com/patterns/gplay.png"); */
  background-attachment: fixed;
}
